
<mat-card class="example-card col-sm-12 col-md-6 col-lg-4">
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.category.name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="product.image ? product.image : defaultImage" alt="{{product.name}}">
  <mat-card-content>
    <p>
      {{product.description}}
    </p>
    <p class="price">
      Price: {{product.price}}€
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="example-flex-container">
      <div class="example-button-container">
        <button (click)="cartService.addProduct(product)" mat-fab color="primary" aria-label="Add to cart">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
