<h1>{{category?.name}}</h1>
<div class="container">
  <div *ngIf="category && category.products" class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let product of category.products">

      <div class="card" style="width: 18rem;">
        <div class="image-div">
          <img [src]="product.image ? product.image : defaultImage" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">Price: {{product.price}}€</p>
          <div class="button-div">
            <a (click)="cartService.addProduct(product)" class="btn btn-success button-left">Add to cart</a>
            <a routerLink="/products/{{product.id}}" href="#" class="btn btn-info">Product info</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
