<h1>{{category?.name}}</h1>
<div class="container">
  <div *ngIf="category && category.products" class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let product of category.products">

      <mat-card class="example-card card">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>{{product.category.name}}</mat-card-subtitle>
        </mat-card-header>
        <div class="image-div">
          <img mat-card-image [src]="product.image ? product.image : defaultImage" alt="{{product.name}}">
        </div>
        <mat-card-content>
          <p>
            {{product.description}}
          </p>
          <p class="price">
            Price: {{product.price}}€
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="cartService.addProduct(product)" mat-button>Add to cart</button>
          <button routerLink="/products/{{product.id}}" mat-button>Product info</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
