.card {
  margin: 0 auto 50px;
}

h1 {
  text-align: center;
  margin: 50px;
}

.price {
  font-size: 18px;
}

.image-div {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 20px;
}

.example-card {
  max-width: 400px;
}
