
<nav class="navbar navbar-expand-lg navbar-dark">
  <a routerLink="homepage" class="navbar-brand" href="#">TaltechDonald</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a routerLinkActive="active" routerLink="homepage" class="nav-link" href="#">
          <mat-icon>home</mat-icon> <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon>restaurant_menu</mat-icon>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngFor="let category of categories"
             routerLink="categories/{{category.id}}" class="nav-category">{{category.name}}<br>
          </a>
          <div class="dropdown-divider"></div>
          <a routerLink="meals" class="nav-category">Meals</a>
        </div>
      </li>

      <li class="nav-item">
        <a routerLinkActive="active" routerLink="locations" class="nav-link" href="#">
          <mat-icon>location_on</mat-icon>
        </a>
      </li>

      <li class="nav-item" *ngIf="authenticationService.currentUserValue">
        <a routerLinkActive="active" routerLink="cart" class="nav-link" href="#">
          <mat-icon matBadge="{{cartService.cart.products.length + cartService.cart.meals.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="!authenticationService.currentUserValue" routerLinkActive="active" routerLink="/login" class="nav-link">
          <mat-icon>login</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authenticationService.currentUserValue" routerLinkActive="active" routerLink="/register" class="nav-link">
          <mat-icon>create</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="authenticationService.currentUserValue && authenticationService.currentUserValue.role == 'ADMIN'" routerLinkActive="active" routerLink="/admin" class="nav-link">
          <mat-icon>work</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="authenticationService.currentUserValue && authenticationService.currentUserValue.role == 'USER'" routerLinkActive="active" routerLink="/profile" class="nav-link">
          <mat-icon>face</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="authenticationService.currentUserValue" (click)="logout()" routerLinkActive="active" routerLink="/" class="nav-link">
          <mat-icon>power_settings_new</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
