<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <mat-card-title>Login to TalTechDonald</mat-card-title>
    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Username" required>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput type="password" placeholder="Password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <div>Haven't got an account yet? Sign up!</div>
      <div>Forgot password?</div>
    </form>
  </mat-card>
</div>
