<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <mat-card-title>Login to TalTechDonald</mat-card-title>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <label for="username">
          Username
        </label>
          <input id="username" type="text" formControlName="username" matInput required>
      </mat-form-field>
    
      <mat-form-field>
        <label for="password">
          Password
        </label>
        <input id="password" type="text" formControlName="password" matInput required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <div>Haven't got an account yet? Sign up!</div>
    </form>
  </mat-card>
</div>
