<mat-card>
    <h4>Add meal</h4>
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="meal.name" name="name" ngDefaultControl required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput [(ngModel)]="meal.price" type="number" name="price" ngDefaultControl>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Image url</mat-label>
            <input matInput [(ngModel)]="meal.image" name="image" ngDefaultControl>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="meal.description" name="description" ngDefaultControl required></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Select first product</mat-label>
            <mat-select [(ngModel)]="firstProduct" name="product">
                <mat-option *ngFor="let product of products" value="{{product}}">{{product.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Select second product</mat-label>
            <mat-select [(ngModel)]="secondProduct" name="product">
                <mat-option *ngFor="let product of products" value="{{product}}">{{product.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Select third product</mat-label>
            <mat-select [(ngModel)]="thirdProduct" name="product">
                <mat-option *ngFor="let product of products" value="{{product}}">{{product.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="addMeal()">Add meal</button>
        <br>
    </div>
</mat-card>

<mat-card>
    <h4>Delete meal</h4>
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Select meal</mat-label>
            <mat-select [(ngModel)]="mealToDelete.id" name="meal">
                <mat-option *ngFor="let meal of meals" value="{{meal.id}}">{{meal.id}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="deleteMeal()">Delete meal</button>
        <br>
    </div>
</mat-card>
