<div class="album py-5">
    <div class="container">

        <div class="row">
            <div class="col-md-6" *ngFor="let ad of smallAds">
                <div class="rounded card mb-8 shadow-sm">
                    <!--                    TODO: Add data (href/img/alt) to cards-->
                    <a href="{{ad.link}}">
<!--                        img should be 540x225-->
                        <img src="{{ad.image}}" alt="{{ad.alt}}" width="100%" height="100%" class="rounded">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
