h1 {
    margin-bottom: 50px;
}

p {
    font-size: 20px;
}

a {
    font-size: 20px;
    margin-bottom: 30px;
}

.price {
    font-size: 25px;
}

.example-card {
    margin: 50px auto;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 80px;
}



