<div>
<br>
<a mat-raised-button type="button" routerLink="/admin/meals" color="primary">Modify meals</a>
<br>
<br>
<a mat-raised-button type="button" routerLink="/admin/products" color="primary">Modify products</a>
<br>
<br>
<a mat-raised-button type="button" routerLink="/admin/categories" color="primary">Modify categories</a>
<br>
<br>
<a mat-raised-button type="button" routerLink="/admin/ads" color="primary">Modify ads</a>
<br>
<br>
<a mat-raised-button type="button" routerLink="/admin/locations" color="primary">Modify locations</a>
<br>
<br>
<a mat-raised-button type="button" routerLink="/admin/coupons" color="primary">Modify coupons</a>
</div>
