<h1>{{category?.name}}</h1>
<div class="container">
  <div *ngIf="category && category.products" class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let product of category.products">
      <mat-card class="example-card card">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>{{product.category.name}}</mat-card-subtitle>
        </mat-card-header>
        <div class="image-div">
          <img routerLink="/products/{{product.id}}" mat-card-image [src]="product.image ? product.image : defaultImage" alt="{{product.name}}">
        </div>
        <mat-card-content>
          <p class="price">
            Price: {{product.price | currency:"€"}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-flex-container">
            <div class="example-button-container">
              <button (click)="cartService.addProduct(product)" mat-fab color="accent" aria-label="Add to cart">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
              <button class="info-button" routerLink="/products/{{product.id}}" mat-fab color="primary" aria-label="Add to cart">
                <mat-icon>info</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
