<mat-card *ngIf="product" class="example-card col-sm-12 col-md-6 col-lg-4">

  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.category.name}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="product.image ? product.image : defaultImage" alt="{{product.name}}">

  <mat-card-content>
    <p>
      {{product.description}}
    </p>
    <p class="price">
      Price: {{product.price}}€
    </p>
  </mat-card-content>

  <mat-card-actions>
    <div class="example-flex-container">
      <div class="example-button-container">
        <button (click)="cartService.addProduct(product)" mat-fab color="accent" aria-label="Add to cart">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card col-sm-12 col-md-6 col-lg-4" *ngIf="product?.comments.length!==0">
  <mat-card-title>Comments:</mat-card-title>
  <mat-card-content>
    <p *ngFor="let comment of product?.comments">
        {{ comment.comment }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <form #form="ngForm" (submit)="addComment(); form.reset()">
      <!--
      {{form.value | json }}
      <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" class="form-control" placeholder="Enter your display name:">
      </div>
      -->
      <div class="form-group">
        <!--
        <label for="comment">Comment:</label>
        -->
        <textarea class="form-control" id="comment" placeholder="Enter your comment:" name="comment" [(ngModel)]="this.commentToAdd.comment" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Post comment</button>
    </form>
  </mat-card-actions>
</mat-card>
