.card {
    margin-left: 25%;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 80px;
}

.info-button {
    margin-left: 20px;
}

h1 {
    text-align: center;
    margin: 50px;
}

.removable {
    margin: 0;
}

.proceed {
    height: 40px;
    width: 300px;
    margin: 15px 40%;
    font-size: 25px;
}
